{% extends "base.html" %}

{% block titulo %} Lista de libros {% endblock %}

{% block contenido %}

<div class="card">

    <div class="card-body">
        <div class="d-flex justify-content-between  mb-3">
            <div class="p-2 ">
                <h4 class="text-start">Informes Emitidos</h4>
            </div>

            <div class="p-2">
                <a name="" id="" class="btn btn-success me-md-2" href="{%url 'crear' %}" role="button">Agregar nuevo
                    informe</a>
            </div>
        </div>



        <div class="table-responsive">
            <table id="mytable" class="table table-hover table-striped" style="width: 100%;">
                <thead >
                    <tr class="table-success">
                        <th scope="col" class="centered">ID</th>
                        <th scope="col" class="centered">Desripción</th>
                        <th scope="col" class="centered">Nro. Oficio</th>
                        <th scope="col" class="centered">Oficina de destino</th>
                        <th scope="col" class="centered">Fecha de emisión</th>
                        <th scope="col" class="centered">Fecha de envío</th>
                        <th scope="col" class="centered">Acciones</th>
                    </tr>
                </thead>
                <tbody >
                    {% for libro in libros %}
                    <tr>
                        <td class="centered">{{libro.id}}</td>
                        <td class="centered">{{libro.descripcion}}</td>
                        <td class="centered">{{libro.oficio}}</td>
                        <td class="centered">{{libro.destino}}</td>
                        <td class="centered">{{libro.f_emision}}</td>
                        <td class="centered">{{libro.f_envio}}</td>
                        <td class="centered">
                            <a name="" id="" class="button-33"
                                href="{% url 'descargar_archivo' libro.id %}"><i class="bi bi-cloud-arrow-down"></i></a>
                            
                            <a name="" id="btn-editar" class="button-33" href="{% url 'editar' libro.id%}"
                                role="button"><i class="bi bi-pencil-square"></i></a>
                            
                            <a name="" id="" class="button-34" href="{% url 'eliminar' libro.id%}"
                                role="button" onclick="return confirmarEliminar();"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


</div>


{% endblock %}